.by-message {
    text-align: center;
    min-width: 280px;
    transition: all 2s;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 16px;
    position: fixed;
    /* top: 0; */
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid;
    font-size: 14px;
    opacity: 0.6;
}

.by-message.message-info{
    background: #edf2fc;
    border-color: #e1e3e8;
    color: #909399;
   
}
.by-message.message-success{
    border-color: #e1f3d8;
    background-color: #f0f9eb;
    color: #67C23A;
}
.by-message.message-error{
    background: #fef0f0;
    border-color: #fde2e2;
    color: #F56C6C;
}
.by-message.message-warning{
    background: #fdf6ec;
    border-color: #faecd8;
    color: #E6A23C;
}
/* message-ionic */
.by-message .message-ionic{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
   
}

.by-message.message-info .message-ionic{
    background: #999;
    font-style: italic;
}
.by-message.message-success .message-ionic{
   
    background-color: rgb(54, 146, 9);
}
.by-message.message-error .message-ionic{
    background: #f56161;
    line-height: 14px; 
}
.by-message.message-warning .message-ionic{
    background: rgb(233, 159, 49);
}
.by-message .message-text{
    position: relative;
    top: -1px;
}