.by-pageination{
    display: inline-block;
    /* overflow: auto;
    display: flex; */
   
}
.by-pageination button,
.by-pageination .inpval{
	display: inline-block;
	min-width: 36px;
	text-align: center;
	line-height: 26px;
	border: solid thin #DDDDDD;
    outline: none;
    color: #666;
    background-color: #fff;
    margin: 5px;
}
.by-pageination .pageItem{
    border: solid thin #DDDDDD;
    margin: 5px;
    cursor: pointer;
    color: #666;
}
.by-pageination .pageItemActive{
    border: solid thin #0099FF;
    margin: 5px;
    background-color: #0099FF;
    color:white;
    cursor:not-allowed;
}
.by-pageination .pageItem:hover{
    border: solid thin #0099FF;
    background-color: #0099FF;
    color:white;
}
.by-pageination .pageItemDisable{
    color: #c0c4cc;
    background-color: #fff;
    border: 1px solid #ebeef5;
    margin: 5px;
    cursor:not-allowed
}
.by-pageination .inpval{
  width: 46px;
  padding-left: 6px;
  margin-right: 0;
}
.by-pageination .jumpbtn {
    margin-left: 0;
    border-left: none;
}
